@charset "utf-8";
/* CSS Document */

#slides-wrapper {width:1005px; height:760px; background:url(../images/paper.png) 0 50px no-repeat; position:relative; margin:0 auto;}
#titul-slides {
	width:1005px;
	/*height:720px;
	margin:0 auto;*/
	left:0; top:0;
	position:absolute;
	z-index:999;
	
}

.slides_container {
	width:849px;
	margin-left:116px;
	margin-right:40px;
	height:553px;
	overflow:hidden;
	float:left;
	position:relative;
	display:none;
}
.slides_container:after {
	content: '.';
	display: block;
	clear: both;
	visibility: hidden;
	height: 0;
}
.slides_container div.slide {
	width:849px;
	height:461px;
	padding-top:92px;
	display:block;
}
.slides_container div.slide a {
	width:849px;
	height:461px;
	/*margin-top:92px;*/
	display:block;
}
.caption {
	z-index:500;
	position:absolute;
	top:0;
	left:170px;
	height:337px;
	opacity:0;
	/*padding:5px 20px 0 20px;*/
	background: url(../images/bobble1.png) 0 0 no-repeat;
	width:570px;
	font-size:1.3em;
	line-height:1.33;
	color:#fff;
	/*border-top:1px solid #000;*/
	text-shadow:none;
}
.caption.slide2, .caption.slide3, .caption.slide4 {left:-9999px;}
.caption.slide1 p {padding:39px 0 0 185px;} 
#slides-header {clear:both; width:798px; height:48px; padding-top:39px; margin:0 auto; background-image: url(../images/text1.png); background-position: 0 39px; background-repeat: no-repeat; position:relative; text-indent:-9999px;}
/*	Pagination
*/

.pagination {
	margin:26px auto 0;
	/*position: absolute;
	bottom:0;
	left:50%;*/
	display:block;
	width:200px;
	height:24px;
	background:url(../images/point_line.png) -5px 0 no-repeat;
	z-index:9999;
	clear:both;
}

.pagination li {
	float:left;
	margin:0 0 0 0;
	padding-left:17px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:24px;
	height:0;
	padding-top:24px;
	background-image:url(../images/point_ok.png);
	background-position:0 -24px;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 0;
}
