<meta name="colt-main-document" content="index.html#/">
<style>
.sec-info-text{
    text-decoration: none;
    text-align: left;
    font-weight: normal;
    font-size: 16px;
    line-height: 33px;
    padding-top:2em;
}
.sec-info-text b{
    font-weight: bold;
    font-size: 17px;
    color: #434243;
}
.banner-20-out{
    padding-top: 15px;
    padding-bottom: 15px;
    margin-left: auto;
    margin-right: auto;
}
.col-2of2 div div img { cursor : pointer }
.col-1of2 h2{
    font-size: 23px;
}
#btn-download-colt{
    margin-top: -17px;
    font-size: 18px;
    font-weight: bold;
}
</style>
<!-- Billboard ============================================================= -->
<section class="sec-colt-billboard">

    <div class="sec-content">
        <header class="col-1of2">
            <h1 class="animated"><i class="co">C.O.L.T. — </i>Code Orchestra Livecoding Tool</h1>
            <a href="http://forum.codeorchestra.com/topic/2/colt-2-0-is-out"><img src="/images/banners/colt-2.0-banner.png" class="banner-20-out" alt="colt 2.0 is out!" width="228" height="49"></a>
            <h2>COLT is a small program to test and build mobile, web and desktop-based applications in real time.</h2>
            <p>Connect COLT to any editor, keep calm and code on!</p>
            <ul class="btn-group cfx">
                <li><a id="btn-download-colt" class="btn btn-giant btn-primary-giant" ng-click="downloadColt()">{{downloadButtonText}}</a>
                </li>
            </ul>
        </header>
        <div class="col-2of2">
            <div style="z-index:999;position:absolute;;background-color:blue">
                <help html-doc="#help-main-document" x="184" y="78"></help>
                <help html-doc="#help-browser" x="149" y="238"></help>
                <help html-doc="#help-node-js" x="141" y="308"></help>
                <help html-doc="#help-node-webkit" x="173" y="378"></help>
                <help html-doc="#help-console" x="147" y="448"></help>
                <help html-doc="#help-manual" x="142" y="518"></help>
                <help html-doc="#help-custom-output" x="224" y="648"></help>
            </div>
            <img id="colt-screen" src="/images/front/colt-js-01.png" alt="Code Orchestra Livecoding Tool for JavaScript Development" height="840" width="460">         
        </div>
    </div>
</section>
<section class="sec-info-text" >
    <div class="sec-content container"><p> COLT is a front-end development tool which allows writing code <b>live-style</b>. Just as you modify the code and
        save, the alterations are delivered to the working application using a special protocol. What’s important, all
        the variables, scroll position, form typed date, etc would be preserved. HTML/CSS would be modified seamlessly
        without page reload. Out <b>livecoding</b> implementation is <b>preprocessing</b>-based which means that the live code would
        work <b>anywhere</b> — on any device: desktop, mobile, <b>TV</b>s, etc; and on <b>any browser</b>. <!-- COLT can work with CoffeScript,
        TypeScript, LESS/SASS. --> It can work anywhere the web-technologies are applied, e.g., Angular.js, node-webkit and PhoneGap. It
        works with <b>any IDE.</b>
    </p></div>
</section>
<!-- / billboard -->

<!-- <div class="jumbotron">
  <h1 class="text-center">COLT</h1>
</div> -->

<!--Infographics ==========================================================-->
<style type="text/css">
hr {
    border-top: 4px dashed #ccc;
    color: #fff;
    background-color: #fff;
    height: 1px;
    width:100%;
}
.infographic-comment{
    margin-left: 47px;
    margin-right: 47px;
}
.infographic-comment b{
    font-size: 20px;
    color: black;
}
.infographic-comment li{
    padding-bottom: 10px;
}
.center{
    text-align: center;
}
.feature-col{
    /*background-color: red;*/
    /*border: 1px solid red;*/
    /*margin: -1px;*/
}
.feature-col > h3{
    font-size: 21px;
    font-weight: 700;
    color: #7c7c7c;
    line-height: 36px;
    padding-top: 0px;
    padding-bottom: 10px;

}
.feature-col > p{
    font-size: 15px;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 12px;
    /*padding-left: 28px;*/
}
.getting-started{
    padding-top: 50px;
}
.getting-started .btn{
    width: 100%;
    padding-left: 0px;
    padding-right: 6px;
    padding-bottom: 11px;
    text-align: left;
    /*padding-left: 8px;*/
}
.getting-started .btn b{
    font-size: 16px;
    padding-left: 4px;
}
.screenshot-modal{
    margin:auto auto auto auto;*/
    overflow:hidden;
}
.screenshot-modal > .modal-dialog{
    width:1098px;
    height:auto;
}
</style>
<hr/>
<section>
    <div class="container">
        <div class="col-md-4 feature-col"><h3><i class="fa fa-retweet"></i> Partial JavaScript Reload</h3><p>When you change JavaScript sources, modified code will be loaded into running application. </p></div>
        <div class="col-md-4 feature-col"><h3><i class="fa fa-code"></i> Partial HTML Reload</h3><p>When you change the tag in any file in the project, its new state will be reflected at run-time. </p></div>
        <div class="col-md-4 feature-col"><h3><i class="fa fa-exclamation-circle"></i> Easy Inspect JS</h3><p>"Show Value" command makes you forget about console.log() when you only want to check variable value. </p></div>
        <div class="col-md-4 feature-col"><h3><i class="fa fa-eye"></i> Automplete from Browser</h3><p>COLT also improves variables and object properties autocompletion. </p></div>
        <div class="col-md-4 feature-col"><h3><i class="fa fa-crosshairs"></i> Call Conters</h3><p>You can see if, or how many times, each function was called so far. </p></div>
        <div class="col-md-4 feature-col"><h3><i class="fa fa-umbrella"></i> Runtime Error Display</h3><p>If your code has runtime error, <br>there will be red error icon in the IDE gutter next to it. </p></div>
        <!-- <div class="col-md-4 feature-col"><h3><i class="fa fa-bolt"></i> Execute Any Function</h3><p>You can modify function logic and call it again to see the changes. </p></div> -->
        <div class="col-md-4 feature-col"><h3><i class="fa fa-rocket"></i> AngularJS Support</h3><p>Directives are recompiled after HTML live-update. </p></div>
        <div class="col-md-4 feature-col"><h3><i class="fa fa-cloud-upload"></i> Live-Proxy</h3><p>COLT will load web pages and resources from web server, and transform them to make it work in live mode on the fly. </p></div>
        <!-- <div class="col-md-4 feature-col"><h3><i class="fa fa-tablet"></i> Any Browser/Device</h3><p>Keep in mind that these HTML and JS updates work across any popular web-browsers, mobile browsers, node.js and node-webkit.</p></div> -->
        <div class="col-md-4 feature-col"><h3><i class="fa fa-beer"></i> Infinity Free Trial</h3><p>You can use COLT without entering serial number. </p></div>
    </div>
    <div class="getting-started container">
        <div class="col-md-3 col-xs-6 btn-group" dropdown>
            <div class="btn btn-lg dropdown-toggle">
                <span class="fa-stack fa-lg">
                    <i class="fa fa-circle fa-stack-2x"></i>
                    <i class="fa fa-stack-1x fa-inverse">1</i>
                </span>
                <b>Download COLT <i class="fa fa-angle-down fa-lg"></i></b></div>
                <ul class="dropdown-menu" role="menu">
                    <li><a ng-click="downloadColt('windows')">Windows</a></li>
                    <li><a ng-click="downloadColt('osx')">MacOS</a></li>
                    <li><a ng-click="downloadColt('linux')">Linux</a></li>
                </ul>
            </div>
            <div class="col-md-3 col-xs-6 btn-group" dropdown>
                <div class="btn btn-lg dropdown-toggle">
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-circle fa-stack-2x"></i>
                        <i class="fa fa-stack-1x fa-inverse">2</i>
                    </span>
                    <b>Install IDE Plugin <i class="fa fa-angle-down fa-lg"></i></b></div>
                    <ul class="dropdown-menu" role="menu">
                        <li><a ng-click="installPlugin('idea')">Webstorm (IDEA, PyCharm, PHPStorm)</a></li>
                        <li><a ng-click="installPlugin('sublime')">Sublime Text</a></li>
                        <!-- <li><a ng-click="installPlugin('brackets')">Brackets</a></li> -->
                        <!-- <li><a ng-click="installPlugin('atom.io')">Atom.io</a></li> -->
                    </ul>
                </div>
                <div class="col-md-3 col-xs-6 btn-group" dropdown>
                    <div class="btn btn-lg dropdown-toggle">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-stack-1x fa-inverse">3</i>
                        </span>
                        <b>Open Your Project <i class="fa fa-angle-down fa-lg"></i></b></div>
                        <ul class="dropdown-menu" role="menu">
                            <li><a ng-click="downloadDemoProject('html')">Download Sample <b>HTML/JS</b> Project</a></li>
                            <li><a ng-click="downloadDemoProject('node-js')">Download Sample <b>node.js</b> Project</a></li>
                            <!-- <li><a ng-click="downloadDemoProject('node-webkit')">Download Sample <b>node-webkit</b> Project</a></li> -->
                        </ul>
                    </div>
                    <div class="col-md-3 col-xs-6"><div class="btn btn-lg" data-toggle="modal" data-target="#runWithColtModal">
                        <span class="fa-stack fa-lg">
                            <i class="fa fa-circle fa-stack-2x"></i>
                            <i class="fa fa-stack-1x fa-inverse">4</i>
                        </span>
                        <b>Call "Run With COLT" <i class="fa fa-picture-o"></i></b></div></div>
                    </div>
                    <div class="modal fade screenshot-modal" id="runWithColtModal" tabindex="-1" role="dialog" aria-labelledby="runWithColtModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title">Partial HTML Edit</h4>
                                </div>
                                <div class="modal-body">
                                    <img src="gifs/bootstrap-ui-dropdown-edit.gif" alt="" width="1098" height="247">
                                </div>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div> -->
            </div>
        </div>
    </div>
</section>
<hr/>
<section>
    <div class="sec-content">
        <ul rn-carousel rn-carousel-buffered rn-carousel-indicator rn-carousel-control class="image container" style="width:940px;height:600px">
          <li ng-repeat="slide in slides" ng-style="{'background-image': 'url(' + slide.img + ')'}">
                <div class="debug">
                    {{ slides.length }}
                </div>
            </li>
        </ul>
    </div>
</section>
<hr/>
<section>
    <div class="sec-content">
        <img src="/images/infographic/angular.png" alt="Angular.js support" width="940" height="600">
    </div>
</section>
<hr/>
<section>
    <div class="sec-content">
        <a href="http://blog.codeorchestra.com/post/68973544159/sublime-colt-add-100-intellect-to-your-favourite-ide">
            <img src="/images/infographic/realtime-autocomplete.png" alt="
            Sublime+/Webstorm+" width="940" height="600"></a>
            <div class="infographic-comment">
                <p>COLT can <b>revolutionize</b> JS-developers tooling. With application running all the time during its development COLT can provide runtime objects inspection features in sublime and webstorm. For example, if you press ctrl+space you get list of actual JS object members. You can run the function around the caret. You can modfify function body and have it called again with same arguments as last time. In addition, <b>COLT knows</b> where functions are located, so you can quickly find what function are calling using "Go to function declaration" command. That's why we created the plugin for Sublime/Webstorm that ties IDE and COLT together.</p>
            </div>
        </div>
    </section>
    <hr/>
    <section>
        <div class="sec-content">
            <a href="http://forum.codeorchestra.com/topic/2/colt-2-0-is-out">
                <img src="/images/infographic/node-webkit.png" alt="Angular.js support" width="940" height="600"></a>
            </div>
        </section>
<!-- inline help -->
<style>
.popover-container {
    display: none;
}
.helpLink{
    color: #bcbcbc;
    cursor: help;
}
.help-containers{
    display: none;
}
</style>
<div class="help-containers">
    <div id="help-main-document" class="popover-container">
        <h3>Main Document</h3>
        <div>
            <p>Path to main document in the project. This is your app entry point. </p>
            <p>Can be one of the following:</p>
            <ol>
                <p>1. Path to local HTML document. E.g. <strong>/projects/myProject/index.html</strong></p>
                <p>2. Web server URL (pve-proxy mode) E.g. <strong>http://myserver.com/index.html</strong> </p>
                <p>3. Path to JS file (node.js)</p>
                <p>4. Path to main HTML document (node-webkit)</p>
            </ol>
        </div>
    </div>
    <div id="help-browser" class="popover-container">
        <h3>Browser</h3>
        <div>
            <p>This is web application. You can specify which browser to open it with. System default browser is used, if you leave it blank.</p>
        </div>
    </div>
    <div id="help-node-js" class="popover-container">
        <h3>node.js</h3>
        <div>
            <p>Launch node.js server or any application using node.js. You need node.js to be installed in your system. (Note. Mac-OS users will need to specify the path to node.js) </p>
        </div>
    </div>
    <div id="help-node-webkit" class="popover-container">
        <h3>node-webkit</h3>
        <div>
            <p>Launch node-webkit application. Please specify the path to node-webkit (node-webkit.app, node-webkit.exe etc) for best experience.</p>
        </div>
    </div>
    <div id="help-console" class="popover-container">
        <h3>Console</h3>
        <div>
            <p>If you are not happy with COLT launchers, you can run your custom command with any parameters. This can be used with phonegap apps.</p>
        </div>
    </div>
    <div id="help-manual" class="popover-container">
        <h3>Manual</h3>
        <div>
            <p>You will start the application manually. COLT will wait for client connection when you start the session. For example, you could build phonegap app with  <em>xcode</em> or <em>Android Studio</em> and upload to the device. </p>
        </div>
    </div>
    <div id="help-custom-output" class="popover-container">
        <h3>Use Custom Output</h3>
        <div>
            <p>COLT keeps live session files in special folder by default. You can override this with the folder of your choice (warning, do not create "out" folder inside your project folder to avoid infinite recursion) </p>
        </div>
    </div>
    <div id="help-exclude-pattern" class="popover-container">
        <h3>Exclude from Livecoding Pattern</h3>
        <div>
            <p>By default COLT will process all JS/HTML files, except minified scripts. You might want to exclude some files or folders from processing. For example, to improve session start time. You can specify comma-separated list of file and folder names. Paths that start with slash are interpreted as relative to project folder (e.g. <strong>/staticLibs</strong>) </p>
        </div>
    </div>
    <div id="help-max-loops" class="popover-container">
        <h3>Max Loop Iterations</h3>
        <div>
            <p>To avoid accidental endless loops, COLT injects max iterations count checking code in your loops. Default value is 10000, longer loops will throw exception. Adjust this value if your code needs longer loops.  </p>
        </div>
    </div>
    <div id="help-catch-exceptions" class="popover-container">
        <h3>Don't Catch Runtime Exceptions</h3>
        <div>
            <p>You can accidentally add bad code to running app during live session, that can throw runtime exceptions. To prevent this, COLT wraps every function into try/catch. If you rely on exception handling in your code, or you want error stack trace - turn this option off. </p>
        </div>
    </div>
    <div id="help-simple-reload" class="popover-container">
        <h3>Simple Reload Mode</h3>
        <div>
            <p>In some cases, e.g. if you work within framework that dynamically transforms DOM you will need to reload the page after every update. Use this option in those cases. </p>
        </div>
    </div>
    <div id="help-clear-messages" class="popover-container">
        <h3>Clear Messages Log on Session Start</h3>
        <div>
            <p>By default "Logs" tab in COLT UI retains messages from previous session (e.g., after the page was reloaded). You can turn this behavior off here.</p>
        </div>
    </div>
    <div id="help-redirection-snippet" class="popover-container">
        <h3>Redirection Snippet</h3>
        <div>
            <p>To launch phonegap app on the device, place this code in phonegap main HTML document, so that it will load processed code from COLT local web server.  </p>
        </div>
    </div>
    <div id="help-main-document-url" class="popover-container">
        <h3>Main Document URL</h3>
        <div>
            <p>If you need the link to your app that you can send to someone, you could copy it from browser window, or, if you launch the app manually, you could get it here.</p>
        </div>
    </div>
</div>