<style type="text/css">

hr {
	border-top: 4px dashed #ccc;
	color: #fff;
	background-color: #fff;
	height: 1px;
	width:100%;
}

.help.container{
	padding-top: 50px;
}

.help h1{
	padding-top: 20px;
	padding-bottom: 20px;
}

.help  h2{
	font-size: 28px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.help  h3{
	font-size: 25px;
	padding-top: 20px;
	padding-bottom: 20px;
}

.help .sec-content{
	margin-left: 47px; 
	margin-right: 47px; 
}

.help  b{
	font-size: 22px;
	color: black; 
}

.help  li{
	padding-bottom: 10px; 
}

.help p, .help li {
	color: #1c1c1c;
}

.help li {
	padding-top: 10px;
	 font-size: 30px;
}

.help li > span {
	 font-size: 16px;
}

.help code {
}

</style>

<div class="help container">
	<section class="col-md-9">
		<div class="sec-content">
			<a name="overview"></a>
			<h1>What is COLT</h1>
			<p>COLT is JavaScript application development software. COLT makes it easier to immediately debug the code. It does so delivering live JS, HTML and assets updates to running application without restarting it. COLT also has run-time code analysis features, helps to write code (code completion and jsdocs), and to inspect JS objects.</p>
			<a name="js-runtime"></a>
			<h1>What runtime environments does COLT work with</h1><p>COLT supports popular <strong>web-browsers</strong>, <strong>mobile browsers, node.js</strong> and <strong>node-webkit</strong>. </p>
			<a name="getting-started"></a>
			<h1>Getting started with COLT</h1><ol>
			<li><span>Download the package for your OS from <strong>COLT.IO</strong> and install the application (Make sure your computer has Java JRE. You can get it from <a href="https://www.java.com/en/download/https">https://www.java.com/en/download/</a>). </span></li>
			<li><span>Install the plugin for your code editor.</span></li>
			<h3>Sublime Text (2 or 3)</h3><p>Install COLT package using Package Control. </p>
			<p><a href="https://sublime.wbond.net/packages/COLT">https://sublime.wbond.net/packages/COLT</a></p>
			<h3>Webstorm </h3><p><code>Preferences -> Plugins -> Browse Repositories -> COLT Support</code></p>
			<p><a href="http://plugins.jetbrains.com/plugin/7435?pr=">http://plugins.jetbrains.com/plugin/7435?pr=</a></p>
			<li><span>In your code editor open or create new project. </span></li>
			<li><span>Open html document you want to start working with. </span></li>
			<li><span><code>Select Tools -> "Run With COLT"</code></span> </li>
			<p>You will need to enter the path to COLT in the following dialog:</p>
			<p>Mac - <code>Applications/COLT/COLT.app</code></p>
			<p>Win - <code>c:/Programm Files/COLT/colt.exe</code></p>
			<p>Linx - <code>path to COLT distribution in your system</code></p>
			<li><span>COLT window will appear briefly and minimize itself. </span></li>
			<li><span>The browser will load html file.</span></li>
			<li><span>Make some changes to your html file and save it - your changes will be reflected in the browser. </span></li></ol>
			<!-- <p>Check out this video.</p> -->
			<a name="possible-problems"></a>
			<h1>Possible problems and solutions </h1><ol><li><span>The browser tab is open, but the page is "offline" - you can see it grayed out. Try to reload the page. Session icon in COLT's bottom right corner should turn green. Sublime and Webstorm should also indicate that live session has started with ([~]). If it's not helping, try <strong>Run with COLT</strong> command again.</span></li>
			<li><span>COLT did never start. Double-check the path to COLT in the editor settings. </span></li>
			<li><span>COLT did start, but the page did not open. There could be problem with your Java runtime. Check COLT logs tab in COLT UI. </span></li></ol>
			<a name="ide-not-have-plugin"></a>
			<h1>Using COLT with code editors that do not have COLT plugins </h1><p>COLT does not require you to use particular code editor. </p>
			<ol>
				<li><span>Open COLT app.</span></li>
				<li><span>Go to <code>File -> New Project</code></span></li>
				<li><span>(Important!) Save project file to your project base (root) folder.</span></li>
				<li><span>Select main html file in the project settings.</span> </li>
				<li><span>Click the "lightning bolt" icon in bottom-right UI corner.</span></li>
				<li><span>Browser will open the page and "lightning bolt" icon will turn green.</span></li>
				<li><span>Now edit the project source files in any editor. All the changes should reflect in running application immediately.</span>  </li>
			</ol>
			<a name="project-settings"></a>
			<h1>Project Settings</h1><h3>Main Document</h3><p>Path to main document in the project. This is your app entry point. </p>
			<p>Can be one of the following.</p>
			<ol><li><span>Path to local HTML document. E.g. <strong>/projects/myProject/index.html</strong></span></li>
				<li><span>Web server URL (live-proxy mode) E.g. <strong>http://myserver.com/index.html</strong></span> </li>
				<li><span>Path to JS file (node.js)</span></li>
				<li><span>Path to main HTML document (node-webkit)</span></li></ol>
			<h3>Browser</h3><p>This is web application. You can specify which browser to open it with. System default browser is used, if you leave it blank.</p>
			<h3>node.js</h3><p>Launch node.js server or any application using node.js. You need node.js to be installed in your system. (Note. Mac-OS users will need to specify the path to node.js) </p>
			<h3>node-webkit</h3><p>Launch node-webkit application. Please specify the path to node-webkit (node-webkit.app, node-webkit.exe etc) for best experience.</p>
			<h3>Console</h3><p>If you are not happy with COLT launchers, you can run your custom command with any parameters. This can be used with phonegap apps.</p>
			<h3>Manual</h3><p>You will start the application manually. COLT will wait for client connection when you start the session. For example, you could build phonegap app with  <em>xcode</em> or <em>Android Studio</em> and upload to the device. Read more about "launching phonegap apps in live mode on the device". </p>
			<h3>Use Custom Output</h3><p>COLT keeps live session files in special folder by default. You can override this with the folder of your choice (warning, do not create "out" folder inside your project folder to avoid infinite recursion) </p>
			<h3>Exclude from Livecoding Pattern</h3><p>By default COLT will process all JS/HTML files, except minified scripts. You might want to exclude some files or folders from processing. For example, to improve session start time. You can specify comma-separated list of file and folder names. Paths that start with slash are interpreted as relative to project folder (e.g. <strong>/staticLibs</strong>) </p>
			<h3>Max Loop Iterations</h3><p>To avoid accidental endless loops, COLT injects max iterations count checking code in your loops. Default value is 10000, longer loops will throw exception. Adjust this value if your code needs longer loops.  </p>
			<h3>Don't Catch Runtime Exceptions</h3><p>You can accidentally add bad code to running app during live session, that can throw runtime exceptions. To prevent this, COLT wraps every function into try/catch. If you rely on exception handling in your code, or you want error stack trace - turn this option off. </p>
			<h3>Simple Reload Mode</h3><p>In some cases, e.g. if you work within framework that dynamically transforms DOM you will need to reload the page after every update. Use this option in those cases. </p>
			<h3>Clear Messages Log on Session Start</h3><p>By default "Logs" tab in COLT UI retains messages from previous session (e.g., after the page was reloaded). You can turn this behavior off here.</p>
			<h3>Redirection Snippet</h3><p>To launch phonegap app on the device, place this code in phonegap main HTML document, so that it will load processed code from COLT local web server.  </p>
			<h3>Main Document URL</h3><p>If you need the link to your app that you can send to someone, you could copy it from browser window, or, if you launch the app manually, you could get it here.</p>
			<a name="sublime-text"></a>
			<h1>Sublime Text </h1>
			<h3>Installation</h3><ol><li><span>Install Package Control package if you have not done so already.</span> </li>
			<li><span>Run "Install Package" command - select COLT in presented menu</span></li></ol>
			<h3>Plugin configuration</h3><p>Menu, Sublime Text -> Preferences -> Package Settings </p>
			<p><code>Settings - Default
				Key Bindings - Default		
			</code></p>
			<p>Selecting these will open sublime configuration files.</p>
			<p>To change params you need to override them in corresponding "- User" files. </p>
			<p><code>	Settings - User
				Key Bindings - User
			</code></p>
			<h3>Sublime commands</h3><p>You can find all the COLT commands in Tools menu:</p>
			<h3>Start COLT</h3>
			<p>Start COLT application. You need this command in case you want to tweak project settings, otherwise "Run with COLT" command will start COLT and initiate live session for you. </p>
			<h3>Run with COLT (Browser/Node.js/node-webkit)</h3>
			<p>This command starts COLT if it's not open yet, creates <code>autogenerated.colt</code> project file in currently open Sublime folder and sets the document in currently opened Sublime tab as "Main Document". </p>
			<h3>Reload in COLT</h3>
			<p>Reloads the page/app. The command only works if live session is active. Use this when you need to reload the page, or node.js script.</p>
			<h3>Disable/Enable Autosave</h3>
			<p>When autosave is on, the text will be saved automatically after every keystroke. </p>
			<p>This mode can be useful when editing CSS and HTML.</p>
			<h3>Show Value in Console</h3>
			<p>Select variable or expression and invoke this command to see selection last known value in Sublime console. </p>
			<p>This command makes you forget about console.log() when you only want to check variable value. The runtime environment does console.log() for you and you can see the value in browser or node-webkit Developers Tools where you can inspect the value in detail.</p>
			<p>This command allows to check the values in functions that were already executed. </p>
			<h3>Execute Function</h3>
			<p>You can run particular function on demand with this command. For example, you can modify function logic and call it again to see the changes. Important - the function will receive the same arguments that it had the last time it was called by your application. The arguments will be undefined if the function was never called before. </p>
			<h3>Show JSDoc</h3>
			<p>Place the caret in the function or function name in the call, and invoke this command - function documentation will pop up. </p>
			<h3>Go to Declaration</h3>
			<p>This is useful when you need to see the code of the function that is called. Place the caret in the function name in the call and press F3. Sublime will open the document with relevant function. </p>
			<h3>Show Last Errors</h3>
			<p>If the application has syntax or runtime errors, this command will pop up the list of lines, where these errors happened. Use keyboard arrows to navigate this list and switch to corresponding documents.</p>
			<h3>Function call counts</h3><p>You can see if, or how many times, each function was called so far. The count is displayed in the grey circle next to first line of function with the numbers 1-9 (or infinity for higher call counts). </p>
			<p>Function call counts are reset when the session or the application is restarted.</p>
			<h3>Runtime and syntax error display</h3><p>If your code has runtime or syntax errors, there will be red error icon in the gutter next to it. If you place the caret anywhere in this line, error details will be shown in Sublime Text status bar below. </p>
			<h3>Autocompletion</h3><p>COLT also improves variables and object properties autocompletion. </p>
			<a name="webstorm"></a>
			<h1>Webstorm</h1><p><code>Preferences -> Plugins -> Browse Repositories -> COLT Plugin</code></p>
			<p>To start the application in live mode you need to add special run-configuration. You can add run-configuration using edit configuration command, or by right-clicking HTML or JS file in the project tree and selecting COLT/Create Run Configuration command.</p>
			<p>Webstorm COLT commands:</p>
			<h3>Show Value</h3><p>Select variable or expression and invoke this command to see selection last known value in Webstorm console. </p>
			<p>This command makes you forget about console.log() when you only want to check variable value. The runtime environment does console.log() for you and you can see the value in browser or node-webkit Developers Tools where you can inspect the value in detail.</p>
			<p>This command allows to check the values in functions that were already executed. </p>
			<h3>Reload with COLT</h3><p>Reloads the page/app. The command only works if live session is active. Use this when you need to reload the page, or node.js script.</p>
			<h3>Execute Function</h3><p>You can run particular function on demand with this command. For example, you can modify function logic and call it again to see the changes. Important - the function will receive the same arguments that it had the last time it was called by your application. The arguments will be undefined if the function was never called before.</p>

			<a name="live-session"></a>
			<h1>Live session </h1>

			<p>Live session is the state of your application when it updates itself in response to saving project files without restarting.</p>
			<h2>Starting Live Session</h2><p>When you start the session from your IDE ("Run with COLT") or click green "lighning bolt" icon in COLT, the following happens. </p>
			<ol><li><span>The session begins, COLT-servers is given project file, and copies required files to temporary folder (out).</span> </li>
				<li><span>Transformed copy of main document is created (live.js script is added, etc).</span></li>
				<li><span>COLT waits for request for main document.</span> </li>
				<li><span>Once main document is requested, COLT http server starts serving scripts and assets, copying and transforming them before they are loaded into main document.</span> </li>
				<li><span>Main document creates socket/ajax connection to COLT.</span></li></ol>
			<p>Once connection is made, the "lightning bolt" in COLT UI turns green and code editors with COLT plugins will also indicate that live session has started.  </p>
			<h2>Session termination</h2>
			<p>The session might be closed due to various reasons:</p>
			<ol><li><span>The newer session with same parameters was started (project file or main document)</span></li><li><span>There was browser or other runtime error that caused the connection with COLT to close.</span></li><li><span>COLT UI has triggered "Close Session" command (green "lightning bolt" was clicked second time)</span></li></ol>			
			<a name="html-update"></a>
			<h1>HTML updates algorithm</h1><p>Modern application development assumes using multiple html files. One Page Application. Every tag in your project gets globally unique identifier, that allows to locate it in your application no matter how did it get there. So when you change the tag in any file in the project, its new state will be reflected at run-time. To help you see the changes, this tag will be temporary highlighted with grey border. Keep in mind that these HTML and JS updates work across any connected browsers and devices, mobiles, TVs, etc. </p>

			<a name="angular"></a>
			<h1>Angular Support</h1>
			<p>Directives are recompiled after HTML live-update. In other words, if you changed your directive, such as {{myData}}, you will see your data from $scope instead of curly brackets after update. Our HTML recompilation algorithm is smart enough to handle things like ng-repeater. To better see the effect of your changes we highlight affected element with red border.</p><p>HTML updates and directives recompilation can work with dynamically added HTML. You can edit the template already loaded into main page through ng-router  and see the end result immediately.</p>
			
			<a name="live-proxy"></a>
			<h1>Live-Proxy </h1><p>You can specify web URL as main document in the project settings. In this case COLT will load web pages and resources from web server, and transform them to make it work in live mode on the fly. As soon as the resource is modified on the server, COLT will react and deliver updates to all connected clients. Now it does not matter what technology or languages are you using on serverside. Sublime will still get updates, compile, and trace to the console. You only need to make sure your files are synced to server using your favorite existing solution. We expect this to help you use COLT and livecoding in large projects with complex serverside. </p>
			
			<a name="console"></a>
			<h1>Run COLT from Console</h1><p>You can launch the jar using shell, using the path to project xml as the argument.</p>
			<p>Example: </p>
			<p><code>$ java jar colt.jar myProject.colt</code></p>
			<p>This mode is perfect for server setup for using COLT as live-proxy. </p>


		</div>
	</section>

<div class="col-md-3">
	<div class="bs-docs-sidebar hidden-print affix-top" role="complementary">
		<ul class="nav bs-docs-sidenav affix">
			<li>
				<a ng-click="scrollTo('overview')">Overview</a>
			</li>
			<li><a ng-click="scrollTo('js-runtime')">What runtime environments does COLT work with</a></li>
			<li><a ng-click="scrollTo('getting-started')">Getting started with COLT</a></li>
			<li>
				<a ng-click="scrollTo('possible-problems')">Possible problems and solutions</a>
			</li>
			<li><a ng-click="scrollTo('ide-not-have-plugin')">Using COLT with code editors that do not have COLT plugins</a></li>
			<li><a ng-click="scrollTo('project-settings')">Project Settings</a></li>
			<li>
				<a ng-click="scrollTo('modals">Modal</a>
				<ul class="nav">
					<li><a ng-click="scrollTo('modals-examples">Examples</a></li>
					<li><a ng-click="scrollTo('modals-sizes">Sizes</a></li>
					<li><a ng-click="scrollTo('modals-usage">Usage</a></li>
				</ul>
			</li>
			<li><a ng-click="scrollTo('sublime-text')">Sublime Text</a></li>
			<li><a ng-click="scrollTo('webstorm')">Webstorm</a></li>
			<li><a ng-click="scrollTo('live-session')">Live session</a></li>
			<li><a ng-click="scrollTo('html-update')">HTML updates algorithm</a></li>
			<li><a ng-click="scrollTo('angular')">Angular</a></li>
			<li><a ng-click="scrollTo('live-proxy')">Live-Proxy</a></li>
			<li><a ng-click="scrollTo('console')">Run COLT from Console</a></li>
		</ul>
	</div>
</div>

</div>