@import '02-variables.less';
@import '02-mixins.less';

.doc-footer {
    height: 165px;
    background: #cfe0e7; }

.footer-container {
    background: #cfe0e7;
    height: 164px;
    border-top: #a4b5bc 1px solid; }

.footer-container .section {
    position: relative;
    height: 164px;
    *zoom: 1; }

.doc-footer LI A:hover { color: #797a7a; }

.footer-logo {
    float: left;
    color: #798387;
    font-size: 12px;
    margin-top: 61px;

    A {
        background-position: 0 -30px;
        .ir;
        margin-bottom: 6px;
        height: 15px;
        width: 153px; }
}

.doc-footer .m-core {
    float: left;
    margin: 56px 0 0 61px;

    LI {
        float: left;

        A {
            display: inline-block;
            color: #798387;
            margin-right: 27px;
            text-decoration: none;
            font-weight: 500; }
    }
}

.doc-footer .m-socials {
    margin-top: 61px;
    width: 320px;

    .fb, .twitter { margin-top: -3px; }

    .twitter { margin-left: 10px; }
}

#paracvet {
    background: url(/a/img/paracvet.png) 0 0 no-repeat;
    text-align: center;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 29px;
    width: 119px;

    A {
        display: inline-block;
        font-size: 12px;
        line-height: 27px;
        text-decoration: none;
        color: #555;
        text-shadow: #fff 0 1px; }
}

IFRAME[name="google_conversion_frame"] {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0; }
