@charset "utf-8";
/* CSS Document */


.sliderkit{display:none;position:relative;overflow:hidden;text-align:left;}
.sliderkit a,
.sliderkit a:hover{text-decoration:none;}
.sliderkit img{border:0;}

/*---------------------------------
 *  Navigation
 *---------------------------------*/
.sliderkit .sliderkit-nav{z-index:10;position:absolute;text-align:center;}

/* Nav > Clip */
.sliderkit .sliderkit-nav-clip{position:relative;overflow:hidden; width:800px; margin:0 auto;}
.sliderkit .sliderkit-nav-clip ul{position:relative;left:0;top:0;list-style:none;margin:0;padding:0;}
.sliderkit .sliderkit-nav-clip ul li{float:left;}
.sliderkit .sliderkit-nav-clip ul li a{display:block;overflow:hidden;}

/*---------------------------------
 *  Buttons
 *---------------------------------*/
.sliderkit .sliderkit-btn{z-index:10;}

/*---------------------------------
 *  Panels
 *---------------------------------*/
.sliderkit .sliderkit-panel{z-index:1;position:absolute;overflow:hidden;}
.sliderkit .sliderkit-panel-active{z-index:5;}
.sliderkit .sliderkit-panel-old{z-index:4;}

/* Panels > Overlay */
.sliderkit .sliderkit-panel .sliderkit-panel-textbox{position:absolute;z-index:1;}
.sliderkit .sliderkit-panel .sliderkit-panel-text{position:absolute;z-index:3;top:0;left:0;}
.sliderkit .sliderkit-panel .sliderkit-panel-overlay{position:absolute;z-index:2;top:0;left:0;}


#carousel-ytube{width:958px;height:150px;padding:0;}

/* Navbar */
#carousel-ytube .sliderkit-nav{left:0;bottom:0;width:958px;height:150px;padding:0;background:none;}
#carousel-ytube .sliderkit-nav-clip ul li{float:left;width:150px;margin:0 18px 0 0;text-align:left; padding:3px;}
#carousel-ytube .sliderkit-nav-clip ul li > a{display:block;width:146px;height:98px;overflow:hidden;margin:0;opacity:0.8;border:2px solid #fff; box-shadow: rgba(0,0,0,0.7) 0 1px 3px; position:relative;}
#carousel-ytube .sliderkit-nav-clip ul li > a:after {content:""; display:block;  position:absolute; top:50%; left:50%; width:52px; height:52px; background:url(../images/video-play.png) 0 0 no-repeat; margin-left:-26px; margin-top:-26px; opacity:0.6;}
#carousel-ytube .sliderkit-nav-clip ul li > a:hover{opacity:1;}
#carousel-ytube .sliderkit-nav-clip ul li > a:hover:after{opacity:1;}
#carousel-ytube .sliderkit-nav-clip ul li h3{margin:5px 0;font-size:1em;}
#carousel-ytube .sliderkit-nav-clip ul li p{font-size:0.8em; text-align:center; padding-top:7px; color:#7d7d7d;}
#carousel-ytube .sliderkit-nav-clip ul li .rlt-link-readmore:hover{text-decoration:underline;}

/* Buttons */
#carousel-ytube .sliderkit-nav .sliderkit-nav-btn{position:absolute;top:29px;}
#carousel-ytube .sliderkit-nav .sliderkit-nav-btn span{display:none;}
#carousel-ytube .sliderkit-nav .sliderkit-nav-btn a{display:block;width:42px;height:42px;background-image: url(../images/caruselbtns.png); background-repeat:no-repeat;}
#carousel-ytube .sliderkit-nav .sliderkit-nav-prev{left:0;}
#carousel-ytube .sliderkit-nav .sliderkit-nav-next{right:0;}
#carousel-ytube .sliderkit-nav .sliderkit-nav-prev a{background-position:0 0;}
#carousel-ytube .sliderkit-nav .sliderkit-nav-next a{background-position:-42px 0;}
#carousel-ytube .sliderkit-nav .sliderkit-nav-prev a:hover,
#carousel-ytube .sliderkit-nav .sliderkit-nav-prev a:focus{background-position:0 -42px;}
#carousel-ytube .sliderkit-nav .sliderkit-nav-next a:hover,
#carousel-ytube .sliderkit-nav .sliderkit-nav-next a:focus{background-position:-42px -42px;}
#carousel-ytube .sliderkit-nav .sliderkit-btn-disable a{cursor:default;}
#carousel-ytube .sliderkit-nav .sliderkit-nav-prev.sliderkit-btn-disable a{background-position:-52px 0;}
#carousel-ytube .sliderkit-nav .sliderkit-nav-next.sliderkit-btn-disable a{background-position:-52px -31px;}
